.container {
    max-width: 60rem;
    height: 100vh;
    margin: 0 auto;
    border-radius: 0.25rem;
}

.logo,
.tagline {
    text-align: center;
}

.logo {
    line-height: 6rem;
    font-size: 2.5rem;
}

.tagline {
    font-style: italic;
    font-size: 1rem;
}
