.add-new-word-dialog-title {
    display: flex;
    flex-wrap: wrap;
}

.add-new-word-dialog-title > h1 {
    flex-grow: 1;
}

.add-new-word-dialog-content {
    display: flex;
    flex-flow: column wrap;
    width: 30rem;
}

.button {
    min-width: 6rem;
}

.close-button:hover {
    color: red;
}
